<!-- Footer -->
<footer class="w3-padding-64 w3-light-grey w3-small w3-center" id="footer">
    <div class="w3-row-padding">
        <div class="w3-col s4">
            <h4>Əlaqə</h4>
            <p>Sualınız var? Bizə göndərin.</p>
            <form action="/" target="_blank">
                <p><input class="w3-input w3-border" type="text" placeholder="Ad və soyad" style="width:100%"
                        name="Name" required></p>
                <p><input class="w3-input w3-border" type="text" placeholder="E-poçt" name="Email" style="width:100%"
                        required></p>
                <p><input class="w3-input w3-border" type="text" placeholder="Başlıq" name="Subject" style="width:100%"
                        required></p>
                <p><textarea class="w3-input w3-border" type="text" placeholder="Mesaj" name="Message"
                        style="width:100%; font-size: 16px; height: 100px;" required></textarea></p>
                <button type="submit" class="w3-button w3-block w3-black">Göndər</button>
            </form>
        </div>

        <div class="w3-col s4">
            <h4>Haqqında</h4>
            <p><a href="#">Bizim haqqımızda</a></p>
            <p><a href="#">Vakansiyalar</a></p>
            <p><a href="#">Dəstək</a></p>
            <p><a href="#">Mağazanı tap</a></p>
            <p><a href="#">Çatdırılma</a></p>
            <p><a href="#">Ödəniş</a></p>
            <p><a href="#">Hədiyyə kartı</a></p>
            <p><a href="#">Geri qaytarılma şərtləri</a></p>
            <p><a href="#">Kömək</a></p>
        </div>

        <div class="w3-col s4 w3-justify">
            <h4>Mağaza</h4>
            <p><i class="fa fa-fw fa-map-marker"></i> NANOTEL</p>
            <p><i class="fa fa-fw fa-phone"></i> +994 55 888 99 99</p>
            <p><i class="fa fa-fw fa-envelope"></i> nano@mail.com</p>
            <h4>Ödəniş növləri</h4>
            <p><i class="fa fa-fw fa-cc-amex"></i> Nağd</p>
            <p><i class="fa fa-fw fa-credit-card"></i> Kredit Kartla</p>
            <br>
            <i class="fa fa-facebook-official w3-hover-opacity w3-large"></i>
            <i class="fa fa-instagram w3-hover-opacity w3-large"></i>
            <i class="fa fa-twitter w3-hover-opacity w3-large"></i>
            <i class="fa fa-linkedin w3-hover-opacity w3-large"></i>
        </div>
    </div>
</footer>

<div class="w3-black w3-center w3-padding-24">Powered by C & A</div>

<!-- Səhifənin sonu -->