*:hover{
    text-decoration: none !important;
}
a {
    color: black;
    
}
a:hover{
    color: black;

}

body {
    font-family: 'Allerta Stencil', sans-serif;
    background: url("https://static.tumblr.com/3029b4d9b205bad97eb210b3725bb329/xk2mmfq/5fWn3hnc3/tumblr_static_3119999-545079-abstract-light-blue-hand-drawn-pattern-waves-background-seamless-pattern-can-be-used-for-wallpaper-pattern-fills-web-page-background-surface-textures.jpg") repeat;
 
}
h1,h2,h4,p,div,nav,tr{
 font-family: 'Allerta Stencil', sans-serif;
}




/**************Karusel*************/

.carousel-thumbnails .carousel-indicators img {
    max-width: 100px;
    height: 50px;
    overflow: hidden;
    display: block;
}

.carousel-thumbnails .carousel-indicators li {
    height: auto;
    max-width: 100px;
    width: 100px;
    border: none;
    box-shadow: 1px 3px 5px 0px rgba(0, 0, 0, 0.75);
    &.active {
        border-bottom: 4px solid #fff;
    }
}

.carousel-item:hover{

    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.5);
    transition: transform .2s; 


}

/*Perde acilishi*/

#banner { 
    background: url(img/library-img.jpg) no-repeat center 0; 
    background-size: cover; 
    height: 500px; 
    border: solid 3px black; 
    text-align: center;
    position: relative;  
    overflow: hidden ;
    background: white;
}
.doorText { 
    background-color: black; 
    color: white; 
    
    font-size: 24px; 
    font-weight: bold; 
    line-height: 45px; 
    height: 45px; 
    border:solid 1px rgba(0,0,0,0.15); 
    border-width:1px 0;
    position: absolute; 
    top: 50%;  
    padding: 0 0 0 20px; 
    left: 1px; 
    right: 1px; 
    margin-top: -22.5px; 
    text-shadow: 0 1px 1px rgba(255,255,255,0.25); 
}
.doorHoverLeft { 
    position: absolute; 
    
    left: 0%; 
    top: 0; 
    bottom: 0; 
    width: 50%; 
    transition: 3s ease-in-out; 
    box-shadow: inset 0 0 0 1px rgba(0,0,0,0.40); 
    background: rgba(226,226,226,0.35); 
    background: -moz-linear-gradient(-45deg, rgba(226,226,226,0.35) 0%, rgba(219,219,219,0.35) 50%, rgba(209,209,209,0.35) 51%, rgba(254,254,254,0.35) 100%); 
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(226,226,226,0.35)), color-stop(50%, rgba(219,219,219,0.35)), color-stop(51%, rgba(209,209,209,0.35)), color-stop(100%, rgba(254,254,254,0.35))); 
    background: -webkit-linear-gradient(-45deg, rgba(226,226,226,0.35) 0%, rgba(219,219,219,0.35) 50%, rgba(209,209,209,0.35) 51%, rgba(254,254,254,0.35) 100%); 
    background: -o-linear-gradient(-45deg, rgba(226,226,226,0.35) 0%, rgba(219,219,219,0.35) 50%, rgba(209,209,209,0.35) 51%, rgba(254,254,254,0.35) 100%); 
    background: -ms-linear-gradient(-45deg, rgba(226,226,226,0.35) 0%, rgba(219,219,219,0.35) 50%, rgba(209,209,209,0.35) 51%, rgba(254,254,254,0.35) 100%); 
    background: linear-gradient(135deg, rgba(226,226,226,0.35) 0%, rgba(219,219,219,0.35) 50%, rgba(209,209,209,0.35) 51%, rgba(254,254,254,0.35) 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#fefefe', GradientType=1 );
}
.doorHoverRight { 
    position: absolute; 
    
    right: 0%; 
    top: 0; 
    bottom: 0; 
    width: 50%; 
    transition: 3s ease-in-out; 
    box-shadow: inset 0 0 0 1px rgba(0,0,0,0.40); 
    background: rgba(226,226,226,0.35); 
    background: -moz-linear-gradient(-45deg, rgba(226,226,226,0.35) 0%, rgba(219,219,219,0.35) 50%, rgba(209,209,209,0.35) 51%, rgba(254,254,254,0.35) 100%); 
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(226,226,226,0.35)), color-stop(50%, rgba(219,219,219,0.35)), color-stop(51%, rgba(209,209,209,0.35)), color-stop(100%, rgba(254,254,254,0.35))); 
    background: -webkit-linear-gradient(-45deg, rgba(226,226,226,0.35) 0%, rgba(219,219,219,0.35) 50%, rgba(209,209,209,0.35) 51%, rgba(254,254,254,0.35) 100%); 
    background: -o-linear-gradient(-45deg, rgba(226,226,226,0.35) 0%, rgba(219,219,219,0.35) 50%, rgba(209,209,209,0.35) 51%, rgba(254,254,254,0.35) 100%); 
    background: -ms-linear-gradient(-45deg, rgba(226,226,226,0.35) 0%, rgba(219,219,219,0.35) 50%, rgba(209,209,209,0.35) 51%, rgba(254,254,254,0.35) 100%); 
    background: linear-gradient(135deg, rgba(226,226,226,0.35) 0%, rgba(219,219,219,0.35) 50%, rgba(209,209,209,0.35) 51%, rgba(254,254,254,0.35) 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#fefefe', GradientType=1 );
}
#banner:hover .doorHoverLeft { 
    left: -50%; 
}
#banner:hover .doorHoverRight { 
    right: -50%; 
}


/**** Table*****/

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid black;
    text-align: left;
    padding: 0.2em;
    
    
    
    
  }
  /****ara mesafesi ucun****/
  .table_second{
     display: inline-block;
     text-align: right;
   }
   .table_first{
       display: inline-block;
       width: 382px;
   }

  
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }

  .texniki {
      background: white;
  }
 
  @media only screen and (max-width: 600px) {

    .all_data{
        padding: 0 0 !important;
    }
    .table_first{
        
        width: 220px;
    }
    .carousel-thumbnails .carousel-indicators img {
        max-width: 40px !important;
        width: 100px !important;
        height: 40px;
  }
  .fa {
    padding-right: 4px !important;
  }
}
   
