

*{
    text-decoration: none;
}
a:hover {
    text-decoration:none;
    color: black;
}
a{
    color: black;
}

body {
    font-family: 'Allerta Stencil', sans-serif;
    background: url("https://static.tumblr.com/3029b4d9b205bad97eb210b3725bb329/xk2mmfq/5fWn3hnc3/tumblr_static_3119999-545079-abstract-light-blue-hand-drawn-pattern-waves-background-seamless-pattern-can-be-used-for-wallpaper-pattern-fills-web-page-background-surface-textures.jpg") repeat;
 
}
h1,h2,h4,p,div,nav,tr{
 font-family: 'Allerta Stencil', sans-serif;
}

.Elan_form{
    background-image: linear-gradient(to bottom right, rgb(159, 159, 241, 0.5), rgb(247, 0, 255, 0.5));
}

input[type=text],input[type=number],.cusDD_arrow{
    width: 200px ;
    height: 30px;
    border-radius: 4px;
}

button{
    border-radius: 4px;
    border-color: thistle;
    font-size: 20px;
    border: 2px solid #ccc;
}
button:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    transition: box-shadow 0.4s ease-in-out;
    border-color: black;
}

 
@media only screen and (max-width: 600px) {

   
    select, input{
        width: 100% !important;
    }
    .fa {
        padding-right: 4px !important;
      }
}