<!DOCTYPE html>
<html>
<title>Detallar</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="css/style.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
  integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<link
  href="https://fonts.googleapis.com/css2?family=ABeeZee&family=Acme&family=Allerta+Stencil&family=Archivo+Black&family=Asap:ital,wght@1,500&family=DM+Mono:ital,wght@1,300&display=swap"
  rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href='https://fonts.googleapis.com/css?family=Josefin+Sans|Pacifico' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="css/elan.css">


<body class="w3-content" style="max-width:1200px;">

  <!-- Sol menyu -->
  <nav class="w3-sidebar w3-bar-block w3-white w3-collapse w3-top" style="z-index:3;width:250px" id="mySidebar">
    <div class="w3-container w3-display-container w3-padding-16">
      <i onclick="w3_close()" class="fa fa-remove w3-hide-large w3-button w3-display-topright"></i>
      <h3 class="w3-wide" style="margin-top:15px;font-size: 24px;"><a href="/"><b>NANOTEL</b></a></h3>
    </div>
    <div class="w3-padding-64 w3-large w3-text-grey" style="font-weight:bold">

      <a onclick="myAccFunc1()" href="javascript:void(0)" class="w3-button w3-block w3-white w3-left-align" id="myBtn">
        Mobil telefonlar <i class="fa fa-caret-down"></i>
      </a>
      <div id="demoAc1" class="w3-bar-block w3-hide w3-padding-large w3-medium">
        <a href="#" class="w3-bar-item w3-button w3-light-grey"><i
            class="fa fa-caret-right w3-margin-right"></i>Hamısı</a>
        <a href="#" class="w3-bar-item w3-button">Apple</a>
        <a href="#" class="w3-bar-item w3-button">Hp</a>
        <a href="#" class="w3-bar-item w3-button">Asus</a>
        <a href="#" class="w3-bar-item w3-button">Acer</a>
        <a href="#" class="w3-bar-item w3-button">Lenovo</a>

      </div>

      <a onclick="myAccFunc2()" href="javascript:void(0)" class="w3-button w3-block w3-white w3-left-align" id="myBtn">
        Aksessuarlar <i class="fa fa-caret-down"></i>
      </a>
      <div id="demoAc2" class="w3-bar-block w3-hide w3-padding-large w3-medium">
        <a href="#" class="w3-bar-item w3-button w3-light-grey"><i
            class="fa fa-caret-right w3-margin-right"></i>Hamısı</a>
        <a href="#" class="w3-bar-item w3-button">Apple</a>
        <a href="#" class="w3-bar-item w3-button">Acer</a>
        <a href="#" class="w3-bar-item w3-button">Lenovo</a>
        <a href="#" class="w3-bar-item w3-button">Samsung</a>

      </div>
     <br>
     <br>
     <br>
     <br>
     <br>
     <br>
     <br>
     <br>
     
    </div>
    <a href="#footer" class="w3-bar-item w3-button w3-padding">Əlaqə</a>
    <a href="javascript:void(0)" class="w3-bar-item w3-button w3-padding"
      onclick="document.getElementById('newsletter').style.display='block'">Xəbərlər</a>
    <a href="#footer" class="w3-bar-item w3-button w3-padding">Təmir</a>
  </nav>

  <!-- Navbar telefon görünüşündə -->
  <header class="w3-bar w3-top w3-hide-large w3-black w3-xlarge">
    <div class="w3-bar-item w3-padding-24 w3-wide">NANOTEL</div>
    <a href="javascript:void(0)" class="w3-bar-item w3-button w3-padding-24 w3-right" onclick="w3_open()"><i
        class="fa fa-bars"></i></a>
  </header>

  <!-- Sol menyunu telefonda işlədərkən bağlamaq üçün -->
  <div class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor:pointer" title="close side menu"
    id="myOverlay"></div>

  <!-- Səhifənin məzmunu -->
  <div class="w3-main" style="margin-left:250px;">

    <!-- Telefon rejimində menyu -->
    <div class="w3-hide-large" style="margin-top:83px"></div>
    <!-- Elan forumun yığılması -->
    <form class="Elan_form">
      <label class="elan_text" style="margin-left: 20px ;font-size: 30px;">Elan məlumatlarını doldurun</label>
      <div class="elan" style="margin: 20px;">
        <label for="fname" style="font-size: 20px;">Kateqoriyalar:</label><br>


        <select id="select2" class="cusDD_arrow" style="font-size: 20px;">
          <option>Mobil telefonlar</option>
          <option>Aksessuarlar</option></select><br>
        <label for="fname" style="font-size: 20px;">Başlığı seçin:</label><br>
        <input type="text" id="fname" name="fname" placeholder="Post11"><br>
        <label for="fname" style="font-size: 20px;">Məhsul haqqında:</label><br>
        <input type="text" id="fname" name="fname" style="text-overflow: ellipsis;"
          placeholder="Suya qarşı həssasdır ..."><br>
        <label for="img" style="font-size: 20px;">Şəkilləri seçin:</label><br>
        <input type="file" id="img" name="img" accept="image/*">
        <input type="file" id="img" name="img" accept="image/*">
        <input type="file" id="img" name="img" accept="image/*">
        <input type="file" id="img" name="img" accept="image/*">
        <input type="file" id="img" name="img" accept="image/*">
        <input type="file" id="img" name="img" accept="image/*">
        <input type="file" id="img" name="img" accept="image/*">
        <input type="file" id="img" name="img" accept="image/*">
        <input type="file" id="img" name="img" accept="image/*">
        <input type="file" id="img" name="img" accept="image/*"><br><br>
        <label for="fname" style="font-size: 20px;"><b>Xüsusiyyətlər</b></label><br>
        <label for="fname" style="font-size: 20px;">Çatdırılma:</label><br>


        <select id="select2" class="cusDD_arrow" style="font-size: 20px;">
          <option>Çatdırılma ilə</option>
          <option>Metrolara Çatdırılma</option>
          <option>Pulsuz çatdırılma</option>
          <option>Ödənişli çatdırılma</option>
        </select><br>
        <label for="fname" style="font-size: 20px;">Rəng:</label><br>


        <select id="select2" class="cusDD_arrow" style="font-size: 20px;">
          <option>Ağ</option>
          <option>Qara</option>
          <option>Qırmızı</option>
          <option>Yaşıl</option>
        </select><br>
        <label for="fname" style="font-size: 20px;">Vəziyyəti:</label><br>


        <select id="select2" class="cusDD_arrow" style="font-size: 20px;">
          <option>Yeni</option>
          <option>Işlənmiş</option>

        </select><br>
        <label for="fname" style="font-size: 20px;">İli:</label><br>
        <input type="number" id="fname" name="fname" placeholder="2020">

        </select><br>
        <label for="fname" style="font-size: 20px;">Qiyməti (AZN):</label><br>
        <input type="number" id="fname" name="fname" placeholder="500">

        </select><br>
        <label for="fname" style="font-size: 20px;">Şəhər:</label><br>
        <input type="text" id="fname" name="fname" placeholder="Bakı">

        </select><br>
        <label for="fname" style="font-size: 20px;">Mobil nömrə:</label><br>
        <input type="number" id="fname" name="fname" placeholder="994519999999">
        <br>
        <br>

        <button type="submit" style="width: 100%;height: 50px; background: rgb(14, 224, 119);">Yüklə</button>
        <br>
        <br>
      
    </div>
    

    <!-- İzlə bölməsi -->
    <div class="w3-container w3-black w3-padding-32">
      <h1>Bizi izlə</h1>
      <p>Xüsusi təkliflər və endirimlərdən xəbərdar olmaq üçün:</p>
      <p><input class="w3-input w3-border" type="text" placeholder="E-poçtunuzu daxil edin" style="width:100%">
      </p>
      <button type="button" class="w3-button w3-red w3-margin-bottom">İzlə</button>
    </div>

    <!-- Footer -->
    <footer class="w3-padding-64 w3-light-grey w3-small w3-center" id="footer">
      <div class="w3-row-padding">
        <div class="w3-col s4">
          <h4>Əlaqə</h4>
          <p>Sualınız var? Bizə göndərin.</p>
          <form action="/" target="_blank">
            <p><input class="w3-input w3-border" type="text" placeholder="Ad və soyad" style="width:100%" name="Name"
                required></p>
            <p><input class="w3-input w3-border" type="text" placeholder="E-poçt" name="Email" style="width:100%"
                required></p>
            <p><input class="w3-input w3-border" type="text" placeholder="Başlıq" name="Subject" style="width:100%"
                required></p>
            <p><textarea class="w3-input w3-border" type="text" placeholder="Mesaj" name="Message"
                style="width:100%; font-size: 16px;height: 100px;" required></textarea></p>
            <button type="submit" class="w3-button w3-block w3-black">Göndər</button>
          </form>
        </div>

        <div class="w3-col s4">
          <h4>Haqqında</h4>
          <p><a href="#">Bizim haqqımızda</a></p>
          <p><a href="#">Vakansiyalar</a></p>
          <p><a href="#">Dəstək</a></p>
          <p><a href="#">Mağazanı tap</a></p>
          <p><a href="#">Çatdırılma</a></p>
          <p><a href="#">Ödəniş</a></p>
          <p><a href="#">Hədiyyə kartı</a></p>
          <p><a href="#">Geri qaytarılma şərtləri</a></p>
          <p><a href="#">Kömək</a></p>
        </div>

        <div class="w3-col s4 w3-justify">
          <h4>Mağaza</h4>
          <p><i class="fa fa-fw fa-map-marker"></i> NANOTEL</p>
          <p><i class="fa fa-fw fa-phone"></i> +994 55 888 99 99</p>
          <p><i class="fa fa-fw fa-envelope"></i> nano@mail.com</p>
          <h4>Ödəniş növləri</h4>
          <p><i class="fa fa-fw fa-cc-amex"></i> Nağd</p>
          <p><i class="fa fa-fw fa-credit-card"></i> Kredit Kartla</p>
          <br>
          <i class="fa fa-facebook-official w3-hover-opacity w3-large"></i>
          <i class="fa fa-instagram w3-hover-opacity w3-large"></i>
          <i class="fa fa-twitter w3-hover-opacity w3-large"></i>
          <i class="fa fa-linkedin w3-hover-opacity w3-large"></i>
        </div>
      </div>
    </footer>

    <div class="w3-black w3-center w3-padding-24">Powered by C & A</div>

    <!-- Səhifənin sonu -->
  </div>
  </div>

  <!-- Xəbərlər bölməsi -->
  <div id="newsletter" class="w3-modal">
    <div class="w3-modal-content w3-animate-zoom" style="padding:32px">
      <div class="w3-container w3-white w3-center">
        <i onclick="document.getElementById('newsletter').style.display='none'"
          class="fa fa-remove w3-right w3-button w3-transparent w3-xxlarge"></i>
        <h2 class="w3-wide">XƏBƏRLƏR</h2>
        <p>BİZİM SƏHİFƏYƏ QOŞULUN.</p>
        <p><input class="w3-input w3-border" type="text" placeholder="E-potunuzu daxil edin"></p>
        <button type="button" class="w3-button w3-padding-large w3-red w3-margin-bottom"
          onclick="document.getElementById('newsletter').style.display='none'">Subscribe</button>
      </div>
    </div>
  </div>

  </div>

  <script src="jquery-3.5.1.min.js"></script>


  <script type="text/javascript" src="javascript.js"></script>
  <script type="text/javascript" src="elan.js"></script>
</body>

</html>