<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/registration2.css">


  <title>Document</title>
</head>

<body>
  <h2 style="text-align: center;">Qeydiyyat formu 2</h2>
  

  <form action="registration2" method="post">
    <div class="imgcontainer">

    </div>

    <div class="container">
      <label for="uname"><b>SMS kod</b></label>
      <input type="text" placeholder="4458......." name="phone" required>
      <input type="text" placeholder="4458......." name="otp" required>


      <button type="submit">Irəli</button>

    </div>

    <div class="container" style="background-color:#f1f1f1">
      <button type="button" class="cancelbtn"><a href="/" style="color: white;">Çıxış</a></button>

    </div>
  </form>
  <script type="text/javascript" src="javascript_login.js"></script>
</body>

</html>