<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="registration3.css">
    
   
    <title>Document</title>
</head>

<body>
  <h2 style="text-align: center;">Qeydiyyat formu 3</h2>

  <form action="" method="post">
    <div class="imgcontainer">
     
    </div>
  
    <div class="container">
      <label for="uname"><b>Tam adınız</b></label>
      <input type="text" placeholder="məs: Tural Bəxtiyarov" name="uname" required>
      <label for="uname" style="display: block;"><b>Cinsiniz</b></label><br>
      <div class="cins" >
        
      <select id="select2" style="width:20%; height: 40px; background-color:rgb(194, 211, 168);" class="cusDD_arrow">
        <option>Kişi</option>
        <option>Qadın</option>
        
      </select>
    </div ><br>
      <label for="uname"><b>Parol</b></label>
      <input type="text" placeholder="məs: Y84556u" name="uname" required>
  
      
          
      <button type="submit" ><a href="registration3.html" style="color: white; width: 15px;">Təsdiq et</a></button>
     
    </div>
  
    <div class="container" style="background-color:#f1f1f1">
      <button type="button" class="cancelbtn"><a href="../indexmain.html" style="color: white;">Çıxış</a></button>
      
    </div>
  </form>
  <script type="text/javascript" src="javascript_login.js"></script>
</body>
</html>